.welcome-box .main-box {
  border: 3px solid #104788;
  box-shadow: 0px 0px 15px 5px rgb(16, 82, 163);
  background: #F0F0F0;
}
hr {
  color: #ecb200;
  opacity: 1;
}
hr:not([size]) {
  height: 3px;
  margin: 0 auto;
}
.main-box-header {
  font-size: 24px;
}
.main-box-text {
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
}
