.breadcrumb {
  background: #00336e;
  padding: 9px 0;
  align-items: center;
  border-top: 3px solid blue;
  margin-bottom: 0;
}
.breadcrumb ul{
display: flex;
align-items: center;
list-style: none;
margin-bottom: 0;
padding: 0;
}
.color-light a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    padding: 0 5px;
  }